
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    color:#333;
  }
  
.projects-container {
    width: 832px;
    margin: 50px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: column; 
}

.projects-container h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

