@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

#fixedBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url('./background.jpeg'); 
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.infor-user {
    position: absolute;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    left: 20px;
}